# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.json

.idea/
*.iml

!static_data/*.json
**/.terraform/*
.terraform.lock.hcl
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.DS_Store